.title {
	position: relative;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 4rem;
	text-align: center;
	color: #333;
    z-index: -1;
	margin-top: 6rem;
    margin-bottom: 3rem;


}

.title::after{
    position: absolute;
    content: '';
    height: 3px;
    width: 45px;
    background-color: red;
    bottom: -5px;
    transform: translateX(-40px);
    
    
}

.section-padding-bot {
	z-index: -1;
	position: relative;
	overflow: hidden;
	&::before {
		position: absolute;
		content: '';
		height: 5vh;
		width: 30%;
		background-color: #fff;
		bottom: -1px;
		margin: 0px -20px;
		right: 0;
		transform: skewX(-30deg);
	}
}
.section-padding-top {
	position: relative;
	&::after {
		position: absolute;
		content: '';
		height: 5vh;
		width: 30%;
		background-color: #fff;
		top: 0;
		margin: 0px -20px;
		left: 0;
		transform: skewX(-30deg);
	}
}

.wrapper {
	padding: 3rem 10px;
	max-width: 1400px;
    margin: 0 auto;

}
