@media (min-width: 576px) {
	.hero-bg {
		.hero-bg__title {
			font-size: 3rem;
		}
	}
}

@media (min-width: 768px) {
	.hero-bg {
		.hero-bg__title {
			font-size: 3.5rem;
		}
	}
}
@media (min-width: 992px) {
	.navbar {
		.navbar__box {
			width: 60px;
			height: 50px;
		}
		.navbar__box--bars {
			height: 4px;
		}

		.navbar__box--bars::before {
			top: 20px;
			height: 4px;
		}
		.navbar__box--bars::after {
			top: 40px;
			height: 4px;
		}
	}

	.activeBurgerIcon {
		width: 60px;
		height: 50px;

		.navbar__box--bars {
			height: 0px;
		}
		.navbar__box--bars::before {
			top: 20px;
		}
		.navbar__box--bars::after {
			top: 20px;
		}
	}

	main {
		.about-us {
			.box {
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.third {
				.about-us__left {
					order: 1;
				}
			}

			.about-us__left--img {
				padding: 2rem;
				img {
					width: 100%;
					padding: 0.3rem;
				}
			}
			.about-us__right {
				width: 50%;

				p {
					text-align: right;
				}
			}
		}

		.hero-bg {
			background-position: bottom;
			background-attachment: fixed;
			.hero-bg__title {
				font-size: 4rem;
				margin: 120px 50px;

				.hero-bg__title::after {
					left: 50px;
					bottom: 110px;
				}
			}
		}
		.gap-bg {
			background-attachment: fixed;
			background-position: bottom;
			padding: 40rem 0;
		}
	}

	footer {
		font-size: 3rem;

		.socials,
		.contact {
			h4 {
				font-size: 2.5rem;
			}
		}

		.socials {
			.socials__links {
				i {
					font-size: 3rem;
				}
			}
		}

		.contact{
			.contact__info{
				div{
					font-size: 1.8rem;
				}
			}
		}
	}
}
@media (min-width: 1200px) {
	header {
		height: 60vh;
	}
}
