@media (min-width: 576px) {
	.hero-bg {
		.hero-bg__title {
			font-size: 3rem;
		}
	}
}

@media (min-width: 768px) {
	.hero-bg {
		.hero-bg__title {
			font-size: 3.5rem;
		}
	}
}
@media (min-width: 992px) {
	main {
		.about-us {
			.box {
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.third {
				.about-us__left {
					order: 1;
				}
			}

			.about-us__left--img {
				padding: 2rem;
				img {
					width: 100%;
					padding: 0.3rem;
				}
			}
			.about-us__right {
				width: 50%;

				p {
					text-align: right;
				}
			}
		}

		.hero-bg {
			background-attachment: fixed;
			background-position: center;
			background-size: cover;
			.hero-bg__title {
				font-size: 4rem;
				margin: 120px 50px;

				.hero-bg__title::after {
					left: 50px;
					bottom: 110px;
				}
			}
		}
		.gap-bg {
			background-attachment: fixed;
			background-position: bottom;
		}
	}
}
@media (min-width: 1200px) {
	header {
		height: 100vh;
	}
}
