@use 'colors' as color;
@use 'components' as components;
@use 'mixins' as mixin;
@import 'nav';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
	scroll-padding-top: 10vh;
}

body {
	background-color: color.$background-color;
	color: color.$main-color;
	font-family: 'Montserrat', sans-serif;
	font-size: normal;
}

header{
	.hero-bg{
		background-image: url(/dist/img/IMG_2519.jpeg);
	}
}


