@use 'colors' as color;
@use 'components' as components;
@use 'mixins' as mixin;
@import 'nav';
@import 'footer';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
	scroll-padding-top: 3rem;
}

body {
	z-index: 0;
	background-color: #fff;
	color: #333;
	font-family: 'Montserrat', sans-serif;
	font-size: normal;
}

header {
	height: 60vh;
	.hero-bg {
		background-attachment: initial;
		position: relative;
		background-image: url(../img/header-bg.jpg);
		z-index: -1;
		background-size: cover;
		height: 100%;
		width: 100%;
		background-position: center;
		background-position-x: 30%;

		&__shadow {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: rgb(0, 0, 0, 0.3);
		}

		&__title {
			margin: 100px 30px;
		}
	}
}

main {
	z-index: -10;

	.about-us {
		z-index: 1;
		.box {
			width: 100%;
		}

		&__left--img {
			padding: 1rem;
			img {
				width: 100%;
				border-radius: 8px;
				box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
				padding: 0.3rem;
			}
		}

		&__right {
			display: flex;
			flex-direction: column;
			padding: 1rem;
			color: black;
			text-align: center;

			h3 {
				text-align: center;
				margin: 3rem;
				font-size: 2.5rem;
			}

			p {
				font-size: 2rem;
			}
		}
	}

	.gap-bg {
		z-index: 1;
		background-image: url(../img/IMG_8467.jpeg);
		padding: 23rem 0;
		margin: 0;
		background-attachment: scroll;
		background-position: 50% 90%;
		background-size: cover;
	}

	.menu {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		z-index: 1;

		.review__boxes {
			margin: 0;
			padding: 0;
		}

		.slick-track {
			z-index: 0;
		}

		.slick-prev {
			@include mixin.slickBtns;

			left: 0;
		}
		.slick-next {
			@include mixin.slickBtns;
			right: 0;
		}

		.wrapper {
			max-width: 1400px;
			overflow: hidden;
			padding: 6rem 0;
			margin: 0;
		}

		.title {
			margin-bottom: 10rem;
			text-transform: uppercase;
		}

		.box {
			position: relative;
			height: 400px;
			margin: 10px;
			border-radius: 8px;
			background-position: center;
			background-size: cover;
			overflow: hidden;
			box-shadow: rgba(0, 0, 0, 0.46) 0px 3px 6px, rgba(0, 0, 0, 0.53) 0px 3px 6px;

			&__title {
				color: rgb(239, 29, 29);
				font-size: 3rem;
				text-shadow: 1px 1px 3px black;
				padding: 2rem;
				letter-spacing: 1px;
				text-transform: uppercase;
			}
		}

		.one {
			background-image: url(../img/golabki.jpg);
		}

		.two {
			background-image: url(../img/cheese.jpg);
		}

		.three {
			background-image: url(../img/frytki.jpg);
		}

		.four {
			background-image: url(../img/onion.jpg);
		}

		.fifth {
			background-image: url(../img/tacos.jpg);
			background-position: 50% 10%;
		}

		.sixth {
			background-image: url(../img/salmon.jpg);
		}
		.seventh {
			background-image: url(../img/platter.jpg);
		}
	}

	.opinion {
		z-index: 1;
		background-color: #333;
		margin: 3rem 0;

		.title {
			color: #fff;
		}

		.opinion__boxes {
			display: flex;
			align-content: center;
			justify-content: center;
			flex-wrap: wrap;
			padding: 8rem 0;
			padding-bottom: 15rem;
			.opinion__box {
				position: relative;
				z-index: 100;
				text-align: center;
				border-radius: 8px;
				background-color: rgb(255, 255, 255, 0.7);
				color: #333;
				margin: 1rem;
				padding: 1rem;
				display: flex;
				flex-direction: column;
				font-size: 1.5rem;
				height: 250px;

				&--user {
					font-size: 2.5rem;
				}
				&--date {
					font-weight: lighter;
					margin-bottom: 1rem;
					font-size: 1.5rem;
				}

				&--stars {
					margin-bottom: 1rem;
					i {
						font-size: 2rem;
					}
				}

				&--opinion {
					font-size: 2rem;
					position: absolute;
					bottom: 30px;
				}
			}
		}
	}

	.upcomming {
		.wrapper {
			padding: 8rem 0;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			gap: 50px;

			

			.box {
				position: relative;
				display: flex;
				margin-left: 2rem;
				align-content: center;

				&::after {
					position: absolute;
					content: '';
					width: 100%;
					height: 100%;
					bottom: -5px;
					right: -5px;
					border: 1px solid rgb(242, 103, 103);
					z-index: -2;
					transform: skewX(-15deg);
					padding: 0.1rem;
				}

				&__date {
					left: -40px;
					bottom: -12px;
					position: absolute;
					width: 100px;
					height: 100px;
					border: 10px solid royalblue;
					border-radius: 50%;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					background-color: rgb(242, 103, 103);
					box-shadow: inset 1px 1px 8px black;

					&--day {
						font-size: 3.5rem;
						font-weight: bold;
					}

					&--month {
						font-size: 1.6rem;
					}
				}

				&__info {
					display: flex;
					align-items: center;
					justify-content: center;
					color: white;
					background-color: #333;
					text-align: center;
					display: flex;
					width: 280px;
					flex-direction: column;
					z-index: -1;
					height: 70px;
					transform: skewX(-15deg);

					p {
						transform: skewX(15deg);
						margin-bottom: 10px;
						margin-left: 20px;
					}
					h4 {
						margin-top: 5px;
						transform: skewX(15deg);
						margin-bottom: 10px;
						font-size: 1.5rem;
					}
				}

				&__time {
					position: absolute;
					top: -20px;
					right: -5px;
					background-color: rgb(242, 103, 103);
					height: 30px;
					padding: 0 1rem;
					text-align: center;
					transform: skewX(-15deg);
					line-height: 30px;
					color: #fff;
				}
			}
		}
		
	}
}

@import 'mediaQue';
