@use 'colors' as color;
@use 'components' as components;
@use 'mixins' as mixin;
@import 'nav';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
	scroll-padding-top: 10vh;
}

body {
	background-color: color.$background-color;
	color: color.$main-color;
	font-family: 'Montserrat', sans-serif;
	font-size: normal;
}

header {
	height: 70vh;
	.hero-bg {
		position: relative;
		background-image: url(/dist/img/_BartSadowski-Kielbasa-Onion-Sandwich-3K8A9157_4x5_xlarge.jpg);
		z-index: -1;
		background-size: cover;
		height: 100%;
		width: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-position-x: 30%;
		background-attachment: fixed;

		&__shadow{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: rgb(0, 0, 0,.3);
			
			
		}

		&__title{
			margin: 100px 30px;
			
		}
	}
}

@import 'mediaQue';
